body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e7ebcf;
}

header {
    background: #b5cfcb;
    text-align: center;
    padding: 35px;
}

header h1 {
    color: #101080;
    font-size: 32px;
}

header p {
    font-size: 18px;
}

main {
    width: 90%;
    margin: auto;
}

.post {
    display: flex;
    gap: 30px;
    margin: 35px 0 80px;
}

.post img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid blue;
}

h2 {
    color: #002b13;
    font-size: 25px;
}

h3 {
    color: #003d1b;
}

p {
    font-size: 18px;
}

button {
    background: #eee;
    border: 1px solid gray;
    cursor: pointer;
}

footer {
    background: #b5cfcb;
    text-align: center;
    padding: 35px;
}
